@use 'src/styles/shared' as *;

.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 24px 20px 32px;
  background: #f5f5f5;

  &-title {
    @include h4;
    text-align: center;
  }

  &-subtitle {
    display: inline-block;
    margin-bottom: 10px;
  }

  &-input {
    width: 100%;
    padding: 20px;
    background: white;
  }

  &-obligatory {
    color: mediumvioletred;
  }

  &-note {
    font-weight: 300;

    input {
      margin-right: 10px;
    }
  }

  &-button {
    font-weight: 500;
    padding: 20px;
    transition: background-color 0.5s;
    color: white;
    background: darkseagreen;

    &:active {
      background: mediumseagreen;
    }
  }
}
