@import "src/styles/shared";

.button-bordered {
  @include flex(center, center);
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
  height: 48px;
  width: 160px;
  font-weight: 600;
  border: 2px solid darkseagreen;
  color: darkseagreen;
  @include notLastChild;

  &.active {
    background: darkseagreen;
    color: white;
  }
}
