$icon-filter: "\e992";
$icon-tel: "\e942";
$icon-location: "\e948";
$icon-search: "\e986";

@font-face {
  font-family: 'iconfont';
  src: url('src/assets/fonts/iconfont.ttf?vz2v54') format('truetype'),
  url('src/assets/fonts/iconfont.woff?vz2v54') format('woff'),
  url('src/assets/fonts/iconfont.svg?vz2v54#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconfont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont', emoji !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter {
  &:before {
    content: $icon-filter;
  }
}

.icon-tel {
  &:before {
    content: $icon-tel;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

