@import 'restyle.css/dist/restyle.css';
@import 'restyle.css/dist/scrollbar.css';
@import 'restyle.css/dist/checkboxes.css';
@import 'src/styles/ui';

#app {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.swiper-pagination {
  bottom: 4px !important;
  background: rgba(white, 0.25);

  &-bullet {
    $size: 8px;
    width: $size * 4;
    height: $size;
    margin: 0 $size * 0.5;
    transition: width 0.334s, opacity 0.334s;
    border-radius: $size;
    background: black;

    //&-active {
    //  width: $size * 4;
    //}
  }
}

[type=checkbox], [type=radio] {
  border: 2px solid darkseagreen;

  &::before {
    background: darkseagreen;
  }

  &[data-alt] {
    &:checked {
      background: darkseagreen;
    }
  }
}

.required {
  color: palevioletred;
}

.swiper {
  &, &-wrapper, &-container, &-slide {
    min-width: 0;
    min-height: 0;
  }
}
