@use 'src/styles/shared' as *;

.details {
  &-summary {
    padding-left: unset;

    &::before {
      display: none;
    }
  }

  &-button {
    font-size: 12px;
    transition: transform 0.334s;
    transform-origin: center;

    .is-opening &, .open & {
      transform: rotate(180deg);
    }

    .is-closing & {
      transform: rotate(0);
    }
  }

  &-body {
    display: none;
    flex-direction: column;
    padding-top: 0.5em;

    .is-opening &, .open & {
      display: flex;
    }
  }
}
