$containerWidthMobile: 100%;
$containerWidthLaptop: 1280px;
$containerWidthDesktop: 1920px;

$breakpointMobileConventional: 375px;
$breakpointMobileBg: 540px;
$breakpointTablet: 768px;
$breakpointTabletBg: 1024px;
$breakpointLaptopSmall: 1280px;
$breakpointLaptop: 1366px;
$breakpointDesktop: 1920px;
