@use 'src/styles/shared' as *;

.select {
  font-size: 13px;
  letter-spacing: 0.02em;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: fit-content;
  margin-right: 1.5em;
  @include mediaTabletM {
    font-size: 15px;
  }
  @include mediaLaptop {
    font-size: 17px;
  }

  &-input {
    font-size: 15px;
    width: 100px;
    padding: 0.75em 1em;
    border-radius: 8px;
    background: #f1f1f1;
  }

  &-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    margin-bottom: 1em;
  }

  &-current {
    @include flex(center);
    cursor: pointer;

    &-text, &-value {
      display: inline-block;
    }

    &-value {
      margin: 0 0.25em;
    }

    &-button {
      @include flex(center, center);
      font-size: 13px;
      transition: transform 0.334s;
      transform-origin: center;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  &-options {
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: -20px;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 160px;
    padding: 16px 12px 12px;
    transition: opacity 0.334s, transform 0.334s;
    transform: translate(0, 40px);
    pointer-events: none;
    opacity: 0;
    border-radius: 8px;
    background: white;
    box-shadow: 4px 4px 16px 0 rgba(black, 0.15);

    &.active {
      transform: none;
      pointer-events: auto;
      opacity: 1;
    }
  }

  &-option {
    @include flex(center);
    font-size: 13px;

    white-space: nowrap;
    padding: 0.75em 1em;
    cursor: pointer;
    transition: background 0.334s, color 0.334s;
    @include mediaLaptopL {
      font-size: 14px;
    }

    &.active {
      color: #505050;
    }
  }

  &-button {
    @include flex(center, center);
    font-size: 17px;
    width: 100%;
    height: 44px;;
    margin: 20px auto 0;
    color: white;
    background: #c7b29c;
  }
}
