@use 'src/styles/variables' as *;
@use 'src/styles/mixins/helpers' as *;
@use 'src/styles/mixins/media' as *;

@mixin container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 16px;
  @include mediaMobileBg {
    padding: 0 20px;
  }
  @include mediaTablet {
    padding: 0 40px;
  }
  @include mediaTabletBg {
    max-width: 1024px;
  }
  @include mediaLaptopSmall {
    padding: 0;
    // max-width: 1024px;
  }
  @include mediaLaptop {
    padding: 0;
    max-width: 1200px;
  }
  @include mediaDesktop {
    max-width: 1440px;
  }
}

@mixin scrollbar {
  @media (any-hover: hover) {
    &::-webkit-scrollbar {
      width: 10px
    }
    &::-webkit-scrollbar-track {
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      background: #505050;
      border: 3px solid white;
    }
  }
}

@mixin section {
  padding: 40px 0;
}
